@{
    ViewBag.Title = "About";
}
<h2>Willimar Augusto Rocha.</h2>
<h3>Processo seletivo da Clarify Sistemas</h3>

<p>Este sistema é parte do processo seletivo da Clarify Sistemas e não pode ser usado para qualquer fim. Para mais detalhes veja licença.</p>
<p>Willimar Augusto Rocha.</p>
<p>WhatsApp: (48) 9 9649-2933.</p>
